@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/CSS/dataTables.bootstrap.css" rel="stylesheet" />
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Manager           
        </h1>       
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Manager</h3>
                        <a href="/Home/AddManager" class="btn btn-primary" style="float:right;">Add New</a>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Contact No</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                           
                            </tbody>
                         
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->


</div>
